header {
  background: #0746a7;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 9999999;
  width: 100%;
}

header .header-left .logo {
  font-size: 20px;
  font-weight: 500;
}

header .header-left .logo span {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
}

header .header-left .desktop.search {
  display: none;
}

header .mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

header .mobile-menu button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.808);
}

header .search {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  margin: 15px 0;
  border-radius: 5px;
}

header .search input {
  background: transparent;
  border: none;
  outline: none;
}

.search-field::placeholder {
  color: rgba(236, 236, 236, 0.664);
}

header .header-right {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

header .header-right button {
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 2px;
  padding: 10px;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  cursor: pointer;
}

header .header-right .request-btn {
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid white;
  margin-right: 5px;
  transition: 0;
}

header .header-right .request-btn:hover {
  background-color: rgba(255, 255, 255, 0.829);
  color: #0746a7;
  transition: all ease 0.3;

  background-color: hsla(0, 0%, 100%, 0.829);
  color: #0746a7;
  border-color: transparent;
}

header .header-right .book-btn {
  background: #5cc684;
  border: none;
}

header .header-right .book-btn:hover {
  background-color: rgba(255, 255, 255, 0.829);
  color: #5cc684;
}

header .desktop.header-right {
  display: none;
}

.mobile-show {
  display: block;
  transition: all 0.9s ease-in-out;
}

.mobile-hide {
  display: none;
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
  header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-view-menu {
    display: none;
  }

  header .header-left {
    display: flex;
  }

  header .header-left .desktop.search {
    display: flex;
    margin-left: 70px;
  }

  header .header-left .desktop.search input {
    width: 300px;
  }

  header .desktop.header-right {
    display: block;
  }

  header .desktop.header-right .request-btn {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1100px) {
  header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-view-menu {
    display: none;
  }

  header .header-left {
    display: flex;
  }

  header .header-left .desktop.search {
    display: flex;
    margin-left: 70px;
  }

  header .header-left .desktop.search input {
    width: 500px;
  }

  header .desktop.header-right {
    display: block;
  }

  header .desktop.header-right .request-btn {
    margin-right: 30px;
  }
}

/* animations */

@keyframes slideOpen {
  0% {
    height: 50px;
  }
  100% {
    height: 218px;
  }
}
