* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* special classes */
.d-flex-ac {
  display: flex;
  align-items: center;
}

.import-export {
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  padding: 40px;
  border-radius: 5px;
}

.import-export .top-option {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.import-export .top-option .buttons {
  display: flex;
  grid-column: 1/3;
}

.import-export .top-option .locat-from {
  grid-column: 3/8;
}

.import-export .top-option .locat-to {
  grid-column: 8/-1;
}

.import-export .top-option button {
  padding: 10px;
  border: 1px #e9e9e9 solid;
  color: #9e9d9d;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  margin: 20px 0;
  background-color: white;
}

.import-export .top-option button:first-child {
  border-radius: 4px 0 0 4px;
}

.import-export .top-option button:last-child {
  border-radius: 0 4px 4px 0;
}

.import-export .top-option .locat-dir {
  background-color: #f3f3f3;
  max-height: 47px;
  color: #010101;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px #dbdbdb solid;
}

.import-export .top-option .locat-dir input {
  background: transparent;
  border: none;
  outline: none;
}

.text-dir {
  color: #888888;
  color: #010101;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  color: #888888;
  font-size: 16px;
}

.import-export .bottom-option {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.import-export .bottom-option .bottom-input {
  background-color: #f3f3f3;
  padding: 15px 20px;
  max-height: 45px;
  border: 1px #dbdbdb solid;
}

.import-export .bottom-option .bottom-input input,
.import-export .bottom-option .bottom-input select {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

.import-export .bottom-option .bottom-input select {
  width: 100%;
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .import-export {
    padding: 20px;
  }
}

@media screen and (max-width: 997px) {
  .import-export .top-option {
    grid-template-columns: 1fr;
  }

  .import-export .top-option .buttons {
    grid-column: unset;
  }

  .import-export .top-option .locat-from {
    grid-column: unset;
  }

  .import-export .top-option .locat-to {
    grid-column: unset;
  }

  .import-export .bottom-option {
    grid-template-columns: 1fr;
  }
}

/* @media screen and (max-width: 330px) {
  .import-export .top-option .locat-dir {
    max-width: 240px;
  }
} */

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .import-export .top-option {
    gap: 40px;
  }
}
