* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.select-service {
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
  padding: 20px;
  border-radius: 5px;
}

.service-option {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-option .trans {
  height: 100px;
  border: 1px #b3b4b6 solid;
  color: #81868c;
  padding-left: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0;
  cursor: pointer;
}

.service-option .trans:hover {
  background: #0746a7;
  color: white;
  transition: all 0.3s ease;
}

.service-option .trans:first-child {
  background: #0746a7;
  color: white;
}

.fa-plane,
.fa-truck,
.fa-ship {
  font-size: 65px;
  position: absolute;
  bottom: -0.7rem;
  right: -0.7rem;
}

.fa-user {
  font-size: 80px;
  position: absolute;
  bottom: -0.7rem;
  right: -1.5rem;
}

.fa-plane {
  color: white;
  transform: rotate(-90deg);
}

@media screen and (min-width: 400px) {
  .select-service {
    padding: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .service-option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .service-option {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .service-option .air-freight {
    height: 100px;
    border: 1px gray solid;
  }
}
